<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Coupon waarde: </p>
        <ion-input type="number" [(ngModel)]="amount"></ion-input>
        <ion-button>Betaal {{amount}} euro</ion-button>
        Min. 0.02 en max 250
      </ion-card-content>
    </ion-card>
</ion-content>
